* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 224, 224);
}

.titulo {
    display: inline-block;
    width: 100%;
    height: 90px;
    padding-top: 20px;
    padding-left: 10px;
    background-image: linear-gradient(to right,rgb(17, 51, 1), green 130%);
}


.titulo h1 {    
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 38px;
    font-style: normal;
}

.metas-pade {
    margin-left: 10px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(17, 51, 1);
    border-radius: 3px;
    border:1px solid #000000;
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
}

.controle-metas {
    margin-top: 20px;
    margin-left: 10px;    
}

.controle-metas p{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.controle-metas input {
    background-color: #e9eeef;
    margin-left: 20px;
    width: 90px;
    font-size: 18px;
}

.base-geral {
    padding-bottom: 10px;
}

.base-acordos {
    padding-top: 10px;
    padding-bottom: 20px;
}

.button-calcular .p1 {
    margin-bottom: 5px;
    display: inline-block;
    background-color: rgb(17, 51, 1);
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    border:1px solid #000000;
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);    
}

.button-calcular .p2 {
    display: inline-block;
    background-color: rgb(17, 51, 1);
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    border:1px solid #000000;
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);      
}
.button-calcular .p3 {
    margin-top: 5px;
    display: inline-block;
    background-color: rgb(17, 51, 1);
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    border:1px solid #000000;
    box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);      
}

.button-calcular input[type=button] {
    width: 80px;
    font-size: 15px;

}

.button-calcular input[type=button]:hover {
    cursor: pointer;    
}



